<section class="flex flex-row items-center gap-2 p-2 mb-2">
    <div
        class="bg-RedPrimary-100 w-20 h-20 rounded-full grid place-content-center"
    >
        <div class="bg-RedPrimary-600 w-14 h-14 rounded-full animate-pulse">
            <div
                class="bg-white bg-opacity-80 w-5 h-5 rounded-full absolute left-[57.6rem]"
            ></div>
        </div>
    </div>
    <div
        class="bg-YellowPrimary-100 w-14 h-14 rounded-full grid place-content-center"
    >
        <div class="bg-YellowPrimary-500 w-9 h-9 rounded-full">
            <div
                class="bg-white bg-opacity-80 w-5 h-5 rounded-full absolute left-[62.3rem]"
            ></div>
        </div>
    </div>
    <div class="bg-Blue-100 w-14 h-14 rounded-full grid place-content-center">
        <div class="bg-Blue-600 w-9 h-9 rounded-full">
            <div
                class="bg-white bg-opacity-80 w-5 h-5 rounded-full absolute left-[66.3rem]"
            ></div>
        </div>
    </div>

    <div class="p-2 ml-16 rounded-lg">
        <img class="" src="../../../assets/pokeapi.svg" width="200" alt="" />
    </div>
</section>
